<div class="sharebuttons">
  <ul>
    <li>
    </li>
    <li class="mail">
      <a href="mailto:marissa.thompson@columbia.edu">
        {% include mail-outline.svg %}
      </a>
    </li>
    
    <li class="school-outline">
      <a href="https://sociology.columbia.edu/content/marissa-e-thompson">
        {% include school-outline.svg %}
      </a>
    </li>
    
    <li class="scholar">
      <a href="https://scholar.google.com/citations?user=6MTeSgwAAAAJ&hl=en" width="300">
        {% include google-scholar.svg %}
      </a>
    </li>
    
    <li class="twitter">
      <a href="https://twitter.com/m_thompson">
        {% include logo-twitter.svg %}
      </a>
    </li>
    
  </ul>
</div>
