/* Buttons */
.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s;
  color: var(--dark);
  background: var(--brand-color);

  &:hover {
    color: var(--dark);
  }

  &--primary {
    color: var(--dark);
    background-color: var(--button-background-color);

    &:hover {
      background: var(--button-background-hover);
    }
  }

  &--small {
    padding: 20px 24px;
  }

  &--big {
    display: block;
    width: 100%;
  }
}


/* MT added */
.sharebuttons {
  margin: 0 auto 0 auto;
}

.sharebuttons ul {
  margin: 20px 0 0 0;
  text-align: center;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 25px;
  height: 25px;
}
