---
layout: default
---

<div class="container">
  <div class="row">

    <div class="col col-12">
      <div class="page-head">
        <!-- <h1 class="page-title">{{ page.title | escape }}</h1> -->
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% endif %}
      </div>
    </div>
    {%if page.image %}
    <div class="col col-12">
      <div class="page-image animate">
          <meta property="og:image" content="/images/Thompson_zoomed.JPG" />
          <meta property="thumbnail" content="/images/Thompson_zoomed.JPG" />
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- begin page -->
<!--
  <PageMap>
    <DataObject type="thumbnail">
      <Attribute name="src" value="/images/Thompson_zoomed.JPG"/>
      <Attribute name="width" value="100"/>
      <Attribute name="height" value="130"/>
    </DataObject>
  </PageMap>
-->
<div class="container animate">
  <article class="page">
    <div class="page__content">
      {{ content }}
    </div>
  </article>
</div>

<!-- end page -->
